<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Londrina+Outline|Petit+Formal+Script|Stardos+Stencil" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Buda:300|Buenard|Habibi|Kurale|Londrina+Outline|Petit+Formal+Script|Stardos+Stencil" rel="stylesheet">
  </head>
  <body id="home">
    <h1>Home</h1>
    <header>
      <nav id="login">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>
  </body>
</html>
