<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

  map.ejs!

  <!-- Fix Bucket list button -->
  <form method="get" action="/bucketlist">
      <button type="submit">Bucket List!</button>
  </form>
<div id='mainContainer'>

  <form action="/map/submit" method="post" accept-charset="utf-8">

  <input type="number" name='listing[quantity]' placeholder="Quantity?"><br>
  <input type='text' name='listing[title]' placeholder='Title'><br>
  <input type='text' name='listing[description]' placeholder='Description'><br>
  <input type='number' name='listing[price]' placeholder='Price?'><br>

  <input type="submit" value="Submit!">
  </form>
</div>

</body>
</html>
