body{
  /*background-image: url('');*/
  background-color: #FAFAFA;
  color: #222;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#account {
  padding: 25px 30px;
}

#bodycontainer {
  display: block;
}

#title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 24px;
}

input {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: #222;
  color: #FAFAFA;
  width: 6vw;
  font-size: 15px;
}

input:hover {
  background-color: #FAFAFA;
  color: #222;
}

#username {
   margin-top: 7%;
   margin-bottom: 1%;
   font-weight: bold;
   font-size: 45px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 20px;
}

a {
  /*text-decoration: none;*/
  color: #222;
}

p {
  padding-bottom: 2px;
}


