body {
  background-image: url('/pics/plane.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nixie One', cursive;
  font-family: 'Fredericka the Great', cursive;
  background-color: #FAFAFA;
  text-align: center;
}

#signup {
  width: 70%;
  margin: 0 auto;
  margin-top: 10%;
}

.fillout {
  font-size: 15px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 15px;
}

h1 {
  padding-top: 50px;
  font-size: 50px;
  color: #FAFAFA;
}

#submit {
  border-radius: 10px;
  background-color: #222;
  color: #FAFAFA;
  width: 17vw;
}

#submitsignup {
  border-radius: 15px;
  background-color: #222;
  color: #FAFAFA;
  padding: 20px;
  width: 15vw;
  margin-top: 25px;
  font-size: 18px;
  border: none;
  opacity: .8;
}

#submit:hover {
  background-color: #FAFAFA;
  color: #222;
}

#submitsignup:hover {
  background-color: #FAFAFA;
  color: #222;
}

h2 {
  font-size: 7vw;
  color: white;
  margin-top: 5vh;

}
