<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nixie+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/login.css">

  </head>
  <body>

    <div id='loginContainer'>
    <div id='header'>
    <h2>Ready to Login?</h2><br>
    </div>
    <form class="login" action="/auth" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username"><br>
        <input type="password" name="user[password]" value="" placeholder="Password"><br>
        <input id='submit' type="submit" name="name" value="Login">
    </form>
    </div>

  </body>
</html>
