<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nixie+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/signup.css">

  </head>
  <body>
    <div id='signup'>
     <h2>Signup</h2><br>
    <form class="singupstuff" action="/users" method="post">
        <input class="fillout" type="text" name="user[fullname]" value="" placeholder="Full Name"><br>
        <input class="fillout" type="text" name="user[username]" value="" placeholder="Username"><br>
        <input class="fillout" type="password" name="user[password]" value="" placeholder="Password"><br>
        <input class="fillout" type="email" name="user[email]" value="" placeholder="Email"><br>
        <input id='submitsignup' type="submit" value="Signup">
    </form>
    </div>
  </body>
</html>
