<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nixie+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
  <link rel="stylesheet" href="css/decide.css">

</head>
<body>

<div id='bodyContainer'>
  <a class='button' href="/list">Bucketlistit</a>
  <a class='button' href="/map">Places you want to go!</a>
</div>

</body>
</html>
