<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
  <link rel="stylesheet" href="../css/currentLocation.css">
</head>
<body>

<div id='bodyContainer'>
  <form action="/list/submit" method="post" accept-charset="utf-8">
    <p>Where (city, country, etc.):</p>
    <input type='text' name='listing[location]' placeholder='Location'><br>
    <p>ie: For spring break.</p>
    <input type='text' name='listing[description]' placeholder='Description'><br>
    <input id='submit' type="submit" value="Submit!">
  </form>
</div>


</body>
</html>
